body > header {
  height: 400px;
  width: 100%;
  background-color: #e9967a;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 120.1px;
  box-sizing: content-box;
}

@media only screen and (min-width: 1024px) {
  body > header {
    width: 23vw;
    float: left;
    margin-top: 14rem;
    margin-left: 10rem;
    padding-top: 76px;
    border-radius: 2rem;
    position: fixed;
  }
}