.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-tweet div.error-msg {
  border: 4.5px solid red;
  color: red;
  padding: 18px;
  margin-top: 17px;
  margin-bottom: 17px;
}

.new-tweet textarea {
  background: transparent;
  font-weight: bold;
  border: none;
  border-bottom: solid 5px #9f9885;
  color: #545149;
  height: 50px;
  width: 25em;
  padding: 1.5em;
}

.new-tweet div.submission {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

.new-tweet button {
  font-family: 'Bungee', sans-serif;
  color: #fff;
  background-color: #4056A1;
  border: none;
  border-radius: 3px;
}